@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 /* width */
 ::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
    box-shadow: inset 0 0 5px #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #9740f3;
    transition: 150ms;
  } */


body{
    font-family: 'Inter', sans-serif;
    @apply text-slate-600
}
h2{
    font-weight: 700;
    font-size: xx-large;
}
h4{
    font-weight: 700;
}
h5{
    font-weight: 500;
}
 #sidebar a.active {
    @apply text-blue-600 bg-[#E7F5FF]
 }
 .dark{
    @apply bg-gray-600 text-slate-100 border-0
 }
 .body-dark {
    @apply bg-gray-700
 }
.nav-btn{
    @apply w-[40px] h-[40px] text-xl rounded-full shadow flex items-center justify-center
}
.nav-dropdown{
    @apply  flex items-center px-3 py-2 gap-3 cursor-pointer select-none
}
.nav-dropdown:hover {
    @apply bg-[#F6F7F8]
}
.selected{
    @apply text-white bg-[#00BAC7] !important
}
.navigation {
    color: #00BAC7;
}
